.grid {
  display: grid;
  justify-content: center; 
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 250px);
  column-gap: 5px;
  row-gap: 5px;
}

.grid > div {
  border: medium solid black;
}

.player1-hover {
  background-color: blueviolet;
}

.player2-hover {
  background-color:blue;
}

.player1-clicked {
  background-color: blueviolet;
}

.player2-clicked {
  background-color:blue;
}